@{
    ViewBag.Title = "UserVerification";
}

<h2>이메일 인증</h2>

<div class="success alert-success">
    <strong>확인!!</strong>  @ViewBag.Message  @Html.ActionLink("로그인", "Login", "Register")하러 가기
</div> 